---
layout: page
title: Talks
permalink: /talks
description: Talks that I gave at different occassions.
redirect_to: https://christiandewein.com/talks
---

<h1>Talks</h1>

<ul class="list">
  {% for talk in site.data.talks %}
  {% if talk.nested %}
  <li>
    <div class="info">
      <a href="{{talk.url}}">{{talk.title}}</a>
      {% if talk.is_favorite %}⭐️{% endif %}
      <br/>
      <span class="text-muted">
        {% for occassion in talk.occassions %}
        <span class="text-muted">
          at <a href="{{occassion.url}}">{{occassion.name}}</a> (<a href="{{occassion.slides_url}}">{{occassion.slides_title}}</a>), {{ occassion.year }}
        </span><br/>
        {% endfor %}
      </span>
    </div>
  </li>
  {% else %}
  <li>
    <div class="info">
      <a href="{{talk.slides_url}}">{{talk.title}}</a>
      {% if talk.is_favorite %}⭐️{% endif %}
      <br/>
      <span class="text-muted">
        at <a href="{{talk.occassion_url}}">{{talk.occassion}}</a>, {{ talk.year }}
      </span>
    </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>
