<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if page.title %}
    <title>{{page.title}} by {{site.title}}</title>
    {% else %}
    <title>{{site.title}}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="christian, baeuerlein, bäuerlein, bauerlein, fabrik42, frankfurt, ruby, ioki">
    <link rel="stylesheet" href="/assets/css/styles.css">

    {% seo title=false %}
    {% feed_meta %}
  </head>
  <body>
    <nav class="navbar">
      <div class="container-md">
        <a class="navbar-brand" href="/">Christian Bäuerlein</a>
      </div>
    </nav>

    {{ content }}

    <div class="container-md">
      <footer class="pt-5 my-5">
        <p class="text-end">
          <a class="text-muted" href="/imprint">Imprint</a> •
          <a class="text-muted" href="/feed.xml">RSS Feed</a>
        </p>
      </footer>
    </div>
  </body>
</html>
