---
layout: default
---

<div class="container-md page">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3">
      <ul class="nav flex-md-column">
        <li class="nav-item">
          <a class="nav-link{% if page.name == 'index.html' %} active{% endif %}" href="/">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.name == 'projects.html' %} active{% endif %}" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.name == 'talks.html' %} active{% endif %}" href="/talks">Talks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.name == 'podcasts.html' %} active{% endif %}" href="/podcasts">Podcasts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.name == 'articles.html' %} active{% endif %}" href="/articles">Articles</a>
        </li>
      </ul>
    </div>
    <div class="col page-content">
      {{content}}
    </div>
  </div>
</div>
