<!doctype html>
<html lang="en-US">
  <meta charset="utf-8">
  <title>Redirecting Bäuerlein to Dewein</title>
  <link rel="canonical" href="{{ page.redirect.to }}">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script>location="{{ page.redirect.to }}"</script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
  <meta name="robots" content="noindex">
  <h1>Christian Bäuerlein is now Christian Dewein</h1>
  <p>
    Good news everyone: I changed my family name from Bäuerlein to Dewein and therefore you will find my content now on christiandewein.com!
  </p>
  <a href="{{ page.redirect.to }}">Click here if you are not redirected.</a>
</html>
